@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
*{
    margin: auto;
    padding: auto;
}
p{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
a{
    font-family: 'Montserrat', sans-serif;
}
.upperhalf{
    background-color: #81529D;
}
.header{
    padding:50px 50px 40px 150px;
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
}
.header h2{
    color: aliceblue;
}
.nav_part{
    margin-left: 660px;
    margin-top: -30px;
    display: flexbox;
    flex-wrap: wrap;
}
.nav_part a{
    color: aliceblue;
    text-decoration: none;
    margin-left: 50px;
    font-size: 20px;
}
.nav_part button{
    margin-left: 50px;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    border-color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}
.upperbodyp1{
    margin-left: 150px;
}
.b1{
    height: 350px;
    width: 400px;
    position: relative;
    top: -400px;
    z-index: 1;
}
.b2{
    height: 750px;
    width: 740px;
    margin-top: 20px;
    position: relative;
    top: 20px;
    left: 100px;
    z-index: 1;
}
.upperbodyp1 h1{
    font-size: 70px;
    color: aliceblue;
    max-width: 1140px;
    margin-left: 0;
    position: relative;
    z-index: 2;
    top:-350px;
    letter-spacing: 2px;
}
.upperbodyp1 .searchbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    background-color: aliceblue;
    border-radius: 50px;
    padding: 20px 20px 20px 20px;
    max-width: 600px;
    max-height: 50px;
    position: relative;
    z-index: 2;
    top:-300px;
    margin-left: 0px;
}
.upperbodyp1 .searchbar p{
    margin-left: 20px;
    margin-top: 16px;
    color: rgb(130, 130, 130);
    font-size: 20px;
}
.upperbodyp1 .searchbar img{
    margin-top: -43px;
    margin-right: -50px;
    height: 150px;
    width: 150px;
}
.upperbodyp2{
    margin-left: 150px;
    max-width: 1050px;
    padding: 150px 100px 30px 100px;
    background-color: #62317F;
}
.upperbodyp2 .main{
    font-size: 40px;
    color: aliceblue;
    letter-spacing: 0.25px;
    line-height: 50px;
}
.upperbodyp2 .base1{
    margin-top: 50px;
    color: aliceblue;
    font-size: 24px;
}
.upperbodyp2 .base2{
    margin-top: 20px;
    color: #FE7137;
    font-size: 24px;
}
.upperbodyp3{
    margin-top: 100px;
    margin-left: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
}
.upperbodyp3 img{
    margin-left: 0px;
    height: 550px;
    width: 500px;
}
.upperbodyp3 .leftcontent{
    margin-left: 650px;
    margin-top: -500px;
}
.upperbodyp3 .leftcontent h1{
    line-height: 70px;
    font-size: 60px;
    max-width: 600px;
    color: aliceblue;
}
.upperbodyp3 .leftcontent p{
    max-width: 550px;
    margin-left: 0px;
    padding-top: 40px;
    color: rgb(167, 167, 167);
    font-size: 18px;
}
.middlepart{
    margin-left: 400px;
    margin-right: 90px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    top:-100px;
}
.middlepart .box{
    background-color: #F8B53C;
    padding: 200px 60px 50px 50px;
    width: 200px;

}
.middlepart .box p{
    font-size: 30px;
    color: #CA8F1F;
}
.middlepart .box .text{
    font-size: 32px;
    color: black;
}
.lowerbody{
    margin-left: 150px;
}
.lowerbody h2{
    margin-top: 50px;
    margin-left: 0px;
    font-size: 40px;
    max-width: 560px;
}
.lowerbody .goto{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    margin-top: 50px;
    max-width: 500px;
    margin-left: 0px;
}
.lowerbody .goto p{
    font-size: 28px;
    margin-left: 0px;
}
.lowerbodyp1 .left{
    display: flexbox;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 500px;
    margin-left: 700px;
    position: relative;
    top: -300px;
}
.lowerbodyp1 .left img{
    margin-left: 0px;
    height: 550px;
    width: 500px;
}
.black{
    color: black;
    font-size: 28px;
    padding-top: 40px;
}
.grey{
    color: rgb(134, 134, 134);
    font-size: 24px;
    padding-top: 30px;
}
.lowerbodyp1 .right2{
    display: flexbox;
    flex-wrap: wrap;
    max-width: 500px;
    margin-left: 0px;
    position: relative;
    top: -650px;
}
.lowerbodyp1 .right2 img{
    margin-left: 0px;
    height: 550px;
    width: 550px;
}

.lowerbodyp1 .left2{
    display: flexbox;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 450px;
    margin-left: 750px;
    position: relative;
    top: -950px;
}
.lowerbodyp1 .left2 img{
    margin-left: 0px;
    height: 350px;
    width: 450px;
}
.lowerbodyp2{
    margin-top: -900px;
}
.lowerbodyp2 h2{
    max-width: 600px;
}
.lowerbodyp2 .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: -50px;
    margin-top: 100px;
}
.lowerbodyp2 .container .stages{
    max-width: 350px;
}
.lowerbodyp2 .container .stages .number{
    padding: 15px 0px 0px 15px;
    background-color: #F8B53C;
    color: black;
    font-size: 32px;
    height: 50px;
    width: 50px;
    margin-left: 0px;
}
.lowerbodyp2 .container .stages .black{
    color: black;
    font-size: 26px;
    padding-top: 40px;
}
.lowerbodyp2 .container .stages .grey{
    color: rgb(134, 134, 134);
    font-size: 20px;
    padding-top: 30px;
}
.lowerbodyp3{
    display: flexbox;
    flex-wrap: wrap;
    justify-content: left;
}
.lowerbodyp3 h2{
    margin-top: 150px;
    font-size: 60px;
}
.lowerbodyp3 p{
    max-width: 650px;
    font-size: 20px;
    margin-left: 550px;
    margin-top: -50px;
    line-height: 30px;
    margin-bottom: 100px;
}
.footer{
    background-color: rgb(237, 237, 237);
}
.footer .footernav{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-top: 100px;
    margin-right: 100px;
}
.footer .footernav .navcols{
    max-width: 250px;
    margin-top: 0px;
}
.footer .footernav .navcols p{
    font-size: 32px;
    padding-bottom: 10px;
}
.footer .footernav .navcols .colcontent p{
    font-size: 20px;
    padding-top: 20px;
    color: rgb(109, 109, 109);
}
.footer .footerbottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 50px;
}
.footerbottom p{
    font-size: 20px;
    color: rgb(109, 109, 109);
    margin-left: 70px;
}
.footerbottom img{
    margin-right: 30px;
}